html{
    font-family: sans-serif;
}

.container{
    width: 1140px;
    margin: auto;
}


/*  */

.main-nav-list li:nth-child(4) a{
    color:#FFB67D;
}

/*  */


.qa-search{
    color: #ffff;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.7);
    position: relative;
    
}

.qa-search .bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    object-fit: cover;
    z-index: -20;
}


.qa-search h1{
    position: absolute;
    top: 0;
    left: -100%;
    z-index: -20;

}

.qa-search .container{
    padding:80px 0px ;
    text-align: center;

}

.qa-search .container p{
    text-align: center;
    padding: 30px;
    font-size: 55px;
    
}

.qa-search-wrap{
    position: relative;
    display: inline-block;

}

.qa-search-field{
    padding: 20px 50px;
    width: 400px;
    height: 40px;
    font-weight: 500;
    font-size: 18px;
    display: block;
    border-radius: 20px;
    border: #ffff;
    outline:none;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
   
}

.qa-search .container img{
    width: 30px;
    line-height: 40px;
    position: absolute;
    border-radius: 20px;
    top: 5px;
    left: 10px;
    opacity: 0.8;

}



/*  */


.qa-category{
    padding: 30px 0px;

}


.qa-category-wrap{
    display: flex;
    padding:20px 0px;
    justify-content: space-between;


    
}

.qa-category-item{
    padding:30px 95px;
    background-color: #ffff;
    border:3px solid #3A4161;
    border-radius: 5px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.15);
}


.qa-category-wrap a:hover{
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}


.qa-category-wrap a{
    font-weight: 600;
    text-decoration: none;
    color:#3A4161

    
}



.qa-category-item a h2{
    font-size: 16px;
}


/*  */


.frequently-questions{
    padding: 0px 0px 50px 0px;
}


.frequently-questions-wrap{
    display: flex;
    flex-wrap: wrap;
}


.frequently-questions .container h2{
    padding: 20px 0px;
    font-size: 24px;
    font-weight: 600;
    color: #3A4161;
}

.frequently-questions-item{
    padding: 10px 100px 10px 0px;
    line-height: 30px;
}


.frequently-questions-item::after{
    content: '';
    height: 2px;
    background:linear-gradient(to right,#3A4161 , #3a416100 80% );
    display: block;
    opacity: 0.2;
}


.frequently-questions-item a{
    text-decoration: none;
    color: #3A4161;
    

}


/*  */




.smart-agent{
    border: #0000 solid 6px;
    border-radius: 20px;
    overflow: hidden;
    position: fixed;
    bottom: 50px;
    right: 50px;
    border: #FFB67D 5px solid;
    
}

.smart-agent-body{
    width: 70px;
    

}

.smart-agent-body img{
    vertical-align: bottom;
    background-color: #ffff;
    width: 100%;
}

.smart-agent-normal{
    position: absolute;
    bottom: 0px;
    right: 0px;

}


.smart-agent-normal:hover{
    opacity: 0;
}



@media screen and (max-width: 996px){
    .container{
        width: 100%;
        margin: auto;
    }

    .qa-search{
        color: #ffff;
        text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.7);
        position: relative;
        
    }
    
    .qa-search img{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        object-fit: cover;
        z-index: -20;
    }
    
    
    .qa-search h1{
        position: absolute;
        top: -100%;
        left: 0;
        z-index: -20;
    
    }
    
    .qa-search .container{
        width: 100%;
        padding:60px 0px ;
        text-align: center;
    
    }
    
    .qa-search .container p{
        text-align: center;
        padding: 30px;
        font-size: 24px;

    }
    
    .qa-search-wrap{
        position: relative;
        display: inline-block;
    
    }
    
    .qa-search-field{
        padding: 20px 20px;
        width: 200px;
        height: 40px;
        font-weight: 500;
        font-size: 14px;
        display: block;
        border-radius: 20px;
        border: #ffff;
        outline:none;
        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
       
    }
    
    .qa-search .container img{
        width: 30px;
        line-height: 40px;
        position: absolute;
        border-radius: 20px;
        top: 5px;
        left: 10px;
        opacity: 0.8;
    
    }
    
    
    
    /*  */
    
    
    .qa-category{
        padding: 30px 0px;
    
    }
    
    
    .qa-category-wrap{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding:10px 0px;
        justify-content: center
    
    
        
    }
    
    .qa-category-item{
        margin: 5px;
        padding:10px 50px;
        background-color: #ffff;
        border:3px solid #3A4161;
        border-radius: 5px;
        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.15);
    }
    
    
    .qa-category-wrap a:hover{
        border-radius: 5px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    }
    
    
    .qa-category-wrap a{
        font-weight: 600;
        text-decoration: none;
        color: #3A4161; 
        
    }
    
    
    
    .qa-category-item a h2{
        font-size: 16px;
    }
    
    
    /*  */
    
    
    .frequently-questions{
        padding: 0px 0px 50px 0px;
    }
    
    
    .frequently-questions-wrap{
        display: flex;
        flex-wrap: wrap;
    }
    
    
    .frequently-questions .container h2{
        padding: 5px 10px;
        font-size: 24px;
        font-weight: 600;
        color: #3A4161;
    }
    
    .frequently-questions-item{
        padding: 5px 10px;
        line-height: 20px;
    }
    
    
    .frequently-questions-item::after{
        content: '';
        height: 2px;
        background:linear-gradient(to right,#3A4161 , #3a416100 80% );
        display: block;
        opacity: 0.2;
    }
    
    
    .frequently-questions-item a{
        text-decoration: none;
        color: #3A4161;
        
    
    }
    
    
    /*  */
    
    
    
    
    .smart-agent{
        border: #0000 solid 6px;
        border-radius: 10px;
        overflow: hidden;
        position: fixed;
        bottom: 10px;
        right: 10px;
        border: #FFB67D 3px solid;
        
    }
    
    .smart-agent-body{
        width: 40px;
        
    
    }
    
    .smart-agent-body img{
        vertical-align: bottom;
        background-color: #ffff;
        width: 100%;
    }
    
    .smart-agent-normal{
        position: absolute;
        bottom: 0px;
        right: 0px;
    
    }
    
    
    .smart-agent-normal:hover{
        opacity: 0;
    }



}