
/* nav */

.main-header{
    z-index: 10;
    position: sticky;
    top:0;
    left:0;
    background-color: #3A4161 ;
    padding: 10px;
    margin: auto;
    justify-content: center;
}

.main-header-wrap{
    margin: auto;
    display: flex;
    align-items: center;
    max-width: 1200px;
    justify-content: space-between;

}

.main-header-logo{
    width: 120px;
    align-items:center;
    
}

.main-header-logo img{
    width: 100%;
    height: 100%;
}

.main-nav{
    display: flex;
}

.main-nav-list{
    display: flex;
    align-items: center;
}

.hb{
    height:98px ;
    display: none;
}

.hb img{
    height: 100%;
}

.mobile-main-nav{
    display: none;
}


.main-nav-list a{
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    color: #ffff;
    text-shadow:rgba(0, 0, 0, 0.5) 1px 1px 6px;
}

.main-nav-list #shopbox{
    font-size: 14px;
    border: rgba(255, 255, 255, 0.5) solid 1px;
    border-radius: 5px;
    margin: 0px 0px 0px 50px;
    padding: 8px;
}

.main-nav-list a:hover{
    color: #FFB67D;
    text-decoration:solid
}

#shopbox{
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    color: #ffff;
    text-shadow:rgba(0, 0, 0, 0.5) 1px 1px 6px;
}

#shopbox:hover{
    color: #FFB67D;
    text-decoration:solid
}




/* login */

.shop-login img{
    width: 120px;
    padding: 0px 0px 20px 0px;
}



#login-lightBox{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 30;
}

#lightBox{
    width: 500px;
    height: 450px;
    padding: 30px;
    position: absolute;
    top: 30%;
    right: 0;
    bottom: 25%;
    left: 0;
    margin:auto;
    background-color:#ffff;
    border-radius: 10px;
    box-shadow:0px 0px 15px rgba(0, 0, 0, 0.5) ;
}

#cancel{
    font-size: 50px;
    position: absolute;
    right: 20px;
    top: 10px;
    width: 26px;
    height: 26px;
    border: none;
    text-align: center;
    background-color:#ffff;
    opacity: 0.4;
    transform: rotate(45deg);

}

.shop-login p{
    padding: 20px 0px;
    font-size: 24px;
    color: #3A4161;
}

.input-wrap{
    position: relative;
    padding: 16px 0px;
}

.input-wrap label{
    padding: 5px;
    position: absolute;
    top: 27px;
    left:10px;
    color: rgba(0, 0, 0, 0.7);
    border: none;
    transition: all 0.3s ease;
    pointer-events: none;
    font-size: 16px;

}

.input-wrap input:focus~label{
    transform: translateY(-27px);
    background-color: #ffff;
    color: #FFB67D;
    font-weight: 600;

}

.input-wrap input{
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    border:2px solid rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    background-color: #ffff;
    box-shadow: none;
}

.input-wrap input:hover{
    transform: none;
}


.input-wrap input:focus{
    outline: none;
    border:2px solid #FFB67D;
}


.forget-password{
    display:inline-block;
    display: flex;
    direction: rtl;
    padding: 0px 0px 20px 0px;
    font-size: 14px;
}


#check{
    display: block;
    height: 50px;
    width: 100%;
    background-color: #FFB67D;
    margin: 10px 0px;
    color: #ffff;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

#check:hover{
    background-color: #ffbb86;

}

.not-merchant{
    display: block;
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    background-color:#ffff;
    margin: 15px 0px;
    color: #FFB67D;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}



/* footer */


.main-footer{
    width: 100%;
    background-color: #3A4161 ;
    color: #ffff;
}

.footer-nav{
    
    width: 1140px;
    margin: auto;
}

.footer-nav-wrap{
    display: flex;
    padding: 30px 5px;
    justify-content: space-between;

}

.footer-nav-wrap li{
    padding: 3px;
}

.footer-nav-wrap h3{
    font-size: 20px;


}

.footer-nav-wrap a{
    text-decoration: none;
    color: #ffff;
    font-size: 13px;
}

.footer-nav-social li{
    text-align: center;
}

.footer-nav-social img{
    width: 28px;
    height: 28px;
    border-radius: 14px;
}

.footer-nav-app img{
    width: 250px;
    height: 70px;
    border-radius: 10px;
    box-shadow:1px 1px 6px rgba(0, 0, 0, 0.5) ;
    
}







hr{
    color: rgba(255, 255, 255, 0.5);
}


.copy-right{
    width: 1140px;
    margin: auto;
    font-size: 11px;
    padding: 10px;
    line-height: 1.5;
    
}

.copy-right-support{
    padding: 0px 10px;

}

.copy-right-document{
    display: flex;
    flex-wrap: wrap;
}

.copy-right-document a{
    text-decoration: none;
    color: #ffff;
    font-size: 11px;
    padding: 0px 10px;
}






/* RWD */


@media screen and (max-width: 768px){
    




}


@media screen and (max-width: 996px){
    .hb{
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        height: 35px;
        
    }

    .main-nav{
        display: none;
    }


    .main-header-logo{
        width: 70px;
        align-items:center;
        margin: auto;
    }

    .main-header-wrap{
        width: 100%;
        position: relative;
    
    }


    .mobile-main-nav{
        display: block;
        position: absolute;
        left: -100%;
        width:100% ;
        background-color: #ffff;
        z-index: 50;

    }

    .mobile-main-nav-bg{
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 100;
    }



    .hb-main-nav-list{
        padding: 20px;

    }

    .hb-main-nav-list li{
        font-size: 20px;
        padding: 10px 0px;
        
    }

    .hb-main-nav-list a{
        color: #3A4161;
        text-decoration: none;
    }

    #shopbox2{
        color: #3A4161;
        font-size: 20px;
        padding: 10px 0px;
        text-shadow: none;
    }

    /* login */

    #lightBox{
        width: 75%;
        height: 75%;
        padding: 10px;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;
        /* margin:auto; */
        background-color:#ffff;
        border-radius: 10px;
        box-shadow:0px 0px 15px rgba(0, 0, 0, 0.5) ;
    }

    /* footer */


    .main-footer{
        width: 100%;
        background-color: #3A4161 ;
        color: #ffff;
    }

    .footer-nav{
        width: 100%;
        margin: auto;
    }

    .footer-nav-wrap{
        display: flex;
        flex-wrap: wrap;
        padding: 30px 5px;
        justify-content: space-between;

    }

    .footer-nav-wrap ul{
        padding: 10px 5px;
    }

    .footer-nav-wrap li{
        padding: 1px;
    }

    .footer-nav-wrap h3{
        font-size: 14px;


    }

    .footer-nav-wrap a{
        text-decoration: none;
        color: #ffff;
        font-size: 8px;
    }

    .footer-nav-social li{
        text-align: center;
    }

    .footer-nav-social img{
        width: 28px;
        height: 28px;
        border-radius: 14px;
    }

    .footer-nav-app img{
        width: 200px;
        height: 56px;
        border-radius: 10px;
        box-shadow:1px 1px 6px rgba(0, 0, 0, 0.5) ;
        
    }



    hr{
        color: rgba(255, 255, 255, 0.5);
    }


    .copy-right{
        width: 100%;
        margin: auto;
        font-size: 1x;
        padding: 10px 0px;
        line-height: 1.5;
        
    }

    .copy-right-support{
        padding: 0px 10px;

    }

    .copy-right-document{
        display: flex;
        flex-wrap: wrap;
    }

    .copy-right-document a{
        text-decoration: none;
        color: #ffff;
        font-size: 1px;
        padding: 0px 10px;
    }







    








}



@media screen and (max-width: 1200px){
   


}


