html{
    font-family: sans-serif;
    color: #3a4161;

}


input{
    font-size: 16px;
    font-weight: 600;
    display: block;
    background-color:#FFB67D ;
    width: 140px;
    height: 50px;
    border-radius: 40px;
    border: none;
    color: #ffff;
    align-items: center;
    line-height: 50px;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
    margin: auto;

}

input:hover{
    transform: scale(1.05);
    
}


.main-header{
    position: sticky;
    z-index: 20;
    top:0;
    left:0;
    background-color: #3A4161 ;
    padding: 10px;
    margin: auto;
    justify-content: center;
}

.main-header-wrap{
    margin: auto;
    display: flex;
    align-items: center;
    max-width: 1200px;
    justify-content: space-between;

}

.main-header-logo{
    width: 140px;
    height: 60px;
    align-items:center;
    
}

.main-header-logo img{
    width: 100%;
    height: 100%;
}

.main-nav{
    display: flex;
}

.main-nav-list{
    display: flex;
    align-items: center;

}

.main-nav-list a{
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    color: #ffff;
    text-shadow:rgba(0, 0, 0, 0.5) 1px 1px 6px;
}

.main-nav-list a.shopbox{
    font-size: 14px;
    border: rgba(255, 255, 255, 0.5) solid 1px;
    border-radius: 5px;
    margin: 0px 0px 0px 50px;
    padding: 8px;
}

.main-nav-list a:hover{
    color: #FFB67D;
    text-decoration:solid
}

.main-nav-list li:nth-child(1) a{
    color:#FFB67D;
}



/*  */
/* login */

.shop-login img{
    width: 120px;
    padding: 0px 0px 20px 0px;
}



#login-lightBox{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 30;
}

#lightBox{
    width: 500px;
    height: 450px;
    padding: 30px;
    position: absolute;
    top: 30%;
    right: 0;
    bottom: 25%;
    left: 0;
    margin:auto;
    background-color:#ffff;
    border-radius: 10px;
    box-shadow:0px 0px 15px rgba(0, 0, 0, 0.5) ;
}

#cancel{
    font-size: 50px;
    position: absolute;
    right: 20px;
    top: 10px;
    width: 26px;
    height: 26px;
    border: none;
    text-align: center;
    background-color:#ffff;
    opacity: 0.4;
    transform: rotate(45deg);

}

.shop-login p{
    padding: 20px 0px;
    font-size: 24px;
}

.input-wrap{
    position: relative;
    padding: 16px 0px;
}

.input-wrap label{
    padding: 5px;
    position: absolute;
    top: 27px;
    left:10px;
    color: rgba(0, 0, 0, 0.7);
    border: none;
    transition: all 0.3s ease;
    pointer-events: none;
    font-size: 16px;

}

.input-wrap input:focus~label{
    transform: translateY(-27px);
    background-color: #ffff;
    color: #FFB67D;
    font-weight: 600;

}

.input-wrap input{
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    border:2px solid rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.input-wrap input:focus{
    outline: none;
    border:2px solid #FFB67D;
}


.forget-password{
    display:inline-block;
    display: flex;
    direction: rtl;
    padding: 0px 0px 20px 0px;
    font-size: 14px;
}


#check{
    display: block;
    height: 50px;
    width: 100%;
    background-color: #FFB67D;
    margin: 10px 0px;
    color: #ffff;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

#check:hover{
    background-color: #ffbb86;

}

.not-merchant{
    display: block;
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    background-color:#ffff;
    margin: 15px 0px;
    color: #FFB67D;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}
/*  */



.product-banner-wrap{
    position: relative;
    margin: auto;
    color: #ffff;
    align-items: center;
    background: linear-gradient(90deg,rgb(0, 0, 0,0.6),#0000 30%);
}

.product-banner-pic{
    position: absolute;
    top: 0;
    bottom: 0;
    width:100%;
    height: 100%;
    z-index: -2;
    object-fit: cover;
}

.product-banner-title{
    width: 1140px;
    margin: auto;
    padding: 70px 0px;
    
}

.product-banner-title h1{
    font-size: 55px;
    font-weight: 600;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
    padding: 10px 0px;
    
}


.product-banner-title p{
    font-size: 24px;
    font-weight: 550;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
    padding: 10px 0px;
    line-height: 1.5;
}



/*  */

.sign-up{
    padding:50px 0px;
}

.sign-up-wrap{
    width: 1140px;
    margin: auto;
}

.sign-up-header h1{
    padding: 20px;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}


.sign-up-content{
    padding: 0px 200px;
    background-image: url('../img/bg-img-phone.jpg');
    background-size: 100%;
    background-position:center center ;
    background-repeat:no-repeat 
    

}

.sign-up-content-msg{
    
    display: flex;
    padding: 25px 0px;
}




.sign-up-content-msg:nth-child(odd){
    flex-direction: row-reverse;
}





.sign-up-content-msg-text{
    position: relative;
    display: inline-block;
    background-color: #ffff;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
    color: #3a4161;
    padding: 30px;
    border-radius: 20px;
    line-height: 1.5;
}





.sign-up-content-msg-text h2{
    font-weight: 600;
    font-size: 18px;
    
}

.sign-up-content-msg-text p{
    
    font-size: 16px;
}




.sign-up-content-msg-num{
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #3a4161;
    border-radius:15px ;
    color: #ffff;
    text-align: center;
    font-size: 20px;
    position: absolute;
    top:-15px;
    left:-15px;
}


.sign-up-text{
    text-align: center;
    padding: 30px;
    line-height: 1.5;
    color: #3a4161;
    font-size: 18px;
    font-weight: 600;
}






/*  */
.about-us{
    padding: 100px 0px;
}


.about-us-wrap{
    position: relative;
    background: linear-gradient(90deg,rgb(0, 0, 0,0.2),rgb(0, 0, 0,0.8));
}

.about-us-pic{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -2;
    object-fit: cover;
}

.about-us-wrap-msg{
    width: 1140px;
    margin: auto;
    padding: 70px 0px;
    line-height: 1.5;
}


.about-us-header{
    color: #ffff;
}

.about-us-header h1{
    font-size: 55px;
    font-weight: 600;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
    
}

.about-us-header p{
    font-size: 24px;
    font-weight: 550;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}


/*  */



.user{
    padding: 100px 0px;
}


.user-wrap{
    width: 1140px;
    margin: auto;
}



.user-header h2{
    margin: auto;
    display: block;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    padding: 20px 0px;
}
    

.user-header p{
    display: inline-block;
    padding: 10px 70px;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
    border-radius: 30px;

}

.user-content{
    justify-content: space-around;
    padding: 0px 100px;
    display: flex;
    
}

.user-content-item{
    margin: 10px;
    padding: 20px;
    width: 220px;

}

.user-content-item img{
    width:100%;
    border-radius: 150px;
    border: #3a4161 2px solid;
}

.user-content-member{
    padding: 10px 0px;
    text-align: center;
    font-weight: 600;
    border-bottom:#3a416148 2px solid;
}
    
.user-content-feedback{
    line-height: 1.5;
    font-size: 14px;
    padding: 10px 0px;
}








/*  */




.main-footer{
    width: 100%;
    background-color: #3A4161 ;
    color: #ffff;
}

.footer-nav{
    
    width: 1140px;
    margin: auto;
}

.footer-nav-wrap{
    display: flex;
    padding: 30px 5px;
    justify-content: space-between;

}

.footer-nav-wrap li{
    padding: 3px;
}

.footer-nav-wrap h3{
    font-size: 20px;


}

.footer-nav-wrap a{
    text-decoration: none;
    color: #ffff;
    font-size: 13px;
}

.footer-nav-social li{
    text-align: center;
}

.footer-nav-social img{
    width: 28px;
    height: 28px;
    border-radius: 14px;
}

.footer-nav-app img{
    width: 250px;
    height: 70px;
    border-radius: 10px;
    box-shadow:1px 1px 6px rgba(0, 0, 0, 0.5) ;
    
}







hr{
    color: rgba(255, 255, 255, 0.5);
}


.copy-right{
    width: 1140px;
    margin: auto;
    font-size: 11px;
    padding: 10px;
    line-height: 1.5;
    
}

.copy-right-support{
    padding: 0px 10px;

}

.copy-right-document{
    display: flex;
    flex-wrap: wrap;
}

.copy-right-document a{
    text-decoration: none;
    color: #ffff;
    font-size: 11px;
    padding: 0px 10px;
}


